<div class="site-section" id="faq-section">
  <h1>FAQ</h1>
  <div class="uk-card uk-card-body uk-card-secondary">
      <h2 class="question">
        What's the dress code?
      </h2>
      <p class="answer">
       Our event will be dressy casual. This includes slacks and a dress shirt with or without a tie for men, and a blouse and skirt/slacks or dress for women. However, 
       please wear whatever makes you feel comfortable and beautiful.
      </p>
    </div>

    <div class="uk-card uk-card-body uk-card-secondary">
        <h2 class="question">
          What kind of food will be served?
        </h2>
        <p class="answer">
          We will be serving appetizers during cocktail hour as well as a traditional dinner in the main barn later in the evening. This will be followed by 
          the most important course of the night, dessert!
        </p>
      </div>

    <div class="uk-card uk-card-body uk-card-secondary">
        <h2 class="question">
          What if I have dietary restrictions?
        </h2>
        <p class="answer">
         The first step is to fill out your RSVP with any information you think is important for us to know. Please be specific especially if you are sensitive to trace 
         amounts of allergens. We will then work with our caterer to ensure our menu is safe for everyone and that our items are labelled appropriately. We don't want anyone 
         having to eat a smashed granola bar they brought with them from the car!
        </p>
        <p>Depending on the number of children in attendance, we may be able to offer a child-friendly menu as well.</p>
        <p>If you have any specific concerns, please feel free to <a href="mailto:c.bales@outlook.com">reach out to us</a>.</p>
      </div>

      <div class="uk-card uk-card-body uk-card-secondary">
          <h2 class="question">
            What kind of drinks will be available?
          </h2>
          <p class="answer">
            We will be having an open bar, so you won't have to go hunting down an ATM 30 minutes before the ceremony starts! In addition to beer, wine, and cocktails, 
            we will have a few non-alcoholic drinks (and a lot of water!) available as well.
          </p>
      </div>

      <div class="uk-card uk-card-body uk-card-secondary">
          <h2 class="question">
            How do I get there? And where should I park?
          </h2>
          <p class="answer">
            Free parking is available onsite at the venue just feet from the door, which is very convenient especially if the weather ends up being crummy! If you prefer not 
            to drive, you can look into getting an <a href="https://www.uber.com/cities/lincoln/">Uber</a>, <a href="https://www.lyft.com/rider/cities/lincoln-ne">Lyft</a>, 
            or <a href="http://happycab.com/">taxi</a>.
          </p>
      </div>

      <div class="uk-card uk-card-body uk-card-secondary">
          <h2 class="question">
            When does the event end?
          </h2>
          <p class="answer">
            We will officially wind the party down at 11pm, but you won't be missing any late-night flame throwers or taco-donut-waffle trucks if you head out 
            early, we promise.
          </p>
      </div>
</div>