 <div class="uk-light">  
        <!-- 
            Hero header
         -->
      <div class="uk-cover-container uk-height-viewport" >
          <img uk-cover src="assets/img/demo-hero.JPG" id="cover-img"/>
          <div id="title">
              <img id="ne-img" src="assets/img/ne.png" />
          </div>
      </div>

      <app-navigation></app-navigation>

      <app-schedule></app-schedule>

      <div id="really-long-div">
            
        </div>
        <div id="footer">
            <img src="assets/img/ring-box.png">
            <div id="sub-footer"></div>
        </div>
      </div>     