body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(61, 61, 61);
}
#title {
    /* position: relative; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sub-footer{
    padding-top: 5px;
    height: 50px;
    background-color: rgb(39, 39, 39);
    text-align: center;
}
#really-long-div {
    height: 1800px;
}
#ring-box {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    margin-bottom: 80px;

}

#cover-img {
    max-width: 100%;
    opacity: 0.4;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #cover-img {
        max-width: none;
        left: 90%;
    }
}

@media (max-width: 768px) {
    #cover-img {
        max-width: none;
        left: 120%
    }
    #ne-img {
        margin-top: -155% !important;
    }
}

#countdown {
    font-size: 12px;
    margin-top: 10px;
}
.content-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    margin-top: 186px;
}
#ne-img {
    margin-top: -25%;
}

#img-caption {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 14px;
    background-color: #13131361;
    padding: 5px;
}

#contact-buttons {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
}
#contact-buttons div {
    display: inline-block;
    padding: 0 20px;
}
@media only screen and (max-width: 600px) {
    #contact-buttons div {
        padding: 0 10px;
    }
}
#contact-buttons img {
    height: 20px;
}

#close-bug {
    position: absolute;
    right: 8px;
    top: 0;
    font-size: 20px;
    cursor: pointer;
}
#bug-submit-btn {
    padding: 0 20px;
}
#submit-div {
    margin-bottom: 0;
}
#bug-icon {
    height: 24px;
}
.site-section {
    padding: 10px;
}