body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(61, 61, 61);
}
#title {
    /* position: relative; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sub-footer{
    padding-top: 5px;
    height: 30px;
    background-color: rgb(39, 39, 39);
    text-align: center;
}
#really-long-div {
    height: 1800px;
}
#footer img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
}

#cover-img {
    max-width: 100%;
    opacity: 0.4;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #cover-img {
        max-width: none;
        left: 90%;
    }
}

@media (max-width: 768px) {
    #cover-img {
        max-width: none;
        left: 120%
    }
    #ne-img {
        margin-top: -155%;
    }
}

#countdown {
    font-size: 12px;
}
.content-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    margin-top: 200px;
}
#ne-img {
    margin-top: -25%;
}

#img-caption {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 14px;
    background-color: #13131361;
    padding: 5px;
}