 <div class="uk-light">  
        <!-- 
            Hero header
         -->
      <div class="uk-cover-container uk-height-viewport" >
          <img uk-cover src="assets/img/hero.jpg" id="cover-img"/>
          <div id="title">
              <img id="ne-img" src="assets/img/ne.png" />
          </div>
          <p id="img-caption">A sunny day above the Dismal River in the Nebraska Sandhills</p>
      </div>
      <div class="content-wrapper">
            <app-navigation></app-navigation>

            <app-schedule></app-schedule>

            <app-gallery></app-gallery>

            <app-registry></app-registry>

            <app-rsvp></app-rsvp>
        </div>

        <div id="footer">
            <img src="assets/img/ring-box.png">
            <div id="sub-footer"><div id="countdown" uk-countdown="date: 2019-11-02T18:00:00+00:00">See you in <span class="uk-countdown-number uk-countdown-days uk-text-small"> </span> days!</div></div>
        </div>
      </div>     