#registry-section img {
    max-height: 140px;
    padding:20px;
}
#registry-section .uk-card-secondary {
    background-color: rgb(61,61,61);
}

.site-section {
    margin-top: -60px !important; /* Fix for nav */
    margin-bottom: 100px !important;
    padding: 10px;
}
h1 {
    margin-top: 60px; /* Fix for nav */
}