#photos-section {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropzone {
    background-color: rgb(61,61,61);
    border: 1px dashed white;
}

.site-section {
    margin-top: -60px !important;
    margin-bottom: 100px !important;
}
h1 {
    margin-top: 60px;
}
.gallery-img {
    display: inline-block;
}
.sub-section {
    display: inline-block;
    vertical-align: middle;
}
.c-item {
    float: right;
}
@media only screen and (max-width: 600px) {
    .site-section {
        padding-left: 5px;
    }
}
@media only screen and (max-width: 400px) {
    
    .gallery-img {
        width: 98%;
        padding: 5px 0 5px 3px;
    }
    .gallery-img img {
        width: 100%;
    }
    .d-item, .e-item {
        display: none; /* These are potato quality at this width */
    }
    .sub-section {
        width: 98%;
    }
}