.uk-select option {
    background-color: rgb(61,61,61);
}
#send, #lookup-button {
    margin-left: auto;
    margin-right: auto;
}
.site-section {
    padding: 10px;
    margin-top: -60px;
}

#send span, #lookup-button span {
    margin-left: 10px;
}

.guestname {
    text-align: left !important;
    font-size: 1.2rem !important;
}

.diet-input {
    margin-top: 10px;
}

#lookup-button {
    height: 60px;
    padding-top: 10px;
}

#lookup-searching {
    height: 60px;
    display: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
#lookup-searching img {
    height: 60px;
}

#rsvp-title {
    font-size: 2.625rem;
    color: white;
    text-align: center;
    padding-left: 0;
}
#rsvp-icon {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
#rsvp-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rsvp-content {
    padding-left: 0;
}
legend {
    margin-top: 60px;
}
