#details-section {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#reception-map {
    display:none;
    padding-top: 4px;
}

.schedule-item p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.schedule-item .title {
    margin-top: -5px;
}
.schedule-item button {
    margin-top : 10px;
}
.uk-subnav {
    background-color: rgb(53, 53, 53);
    padding: 10px;
}

.uk-card-secondary {
    background-color: rgb(61,61,61);
    margin-bottom: 30px;
}