<div class="site-section" id="schedule-section">
    <ul uk-switcher class="uk-subnav">
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Hotel Block</a></li>
        <li><a href="#">Things to Do</a></li>
    </ul>
    <ul class="uk-switcher">
        <li>
            <div uk-grid class="uk-grid-divider">
                <div class="uk-width-1-2 uk-text-right">
                    <div class="time">5:00pm</div>
                </div>
                <div class="uk-width-1-2">
                    <div class="schedule-item">
                        <p class="title uk-text-lead">Ceremony</p>
                        <p class="location">Roca Ridge</p>
                        <p class="address">5265 Prairie Sage Drive</p>
                        <p class="address">Roca, NE</p>
                        <!-- <button class="uk-button uk-button-default">Map</button> -->
                    </div>
                </div>

                <div class="uk-width-1-2 uk-text-right">
                        <div class="time">6:00pm</div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="schedule-item">
                            <p class="title uk-text-lead">Reception</p>
                            <p class="location">Roca Ridge</p>
                            <p class="address">5265 Prairie Sage Drive</p>
                            <p class="address">Roca, NE</p>
                            
                        </div>
                    </div>
            </div>
        </li>

        <li>
            <div uk-grid class="uk-grid-match">
                <div class="uk-width-1-2">
                    <div class="uk-card uk-card-body uk-card-secondary">
                        <div uk-grid>
                            <div class="uk-width-2-3">
                                <p class="hotel-title"><span>Residence Inn</span> Lincoln South</p>
                                <p>Hotel block: coming soon</p>
                                <p>Suite-style rooms with complimentary breakfast</p>
                                <p class="drive-time"><span>9 min.</span> from Roca Ridge</p>
                            </div>
                            <div class="uk-width-1-3">
                                <a href="https://www.marriott.com/hotels/travel/lnkri-residence-inn-lincoln-south/" target="_blank"><button class="uk-button uk-button-default" id="residence-inn-site-button">Site</button></a>
                                <button class="uk-button uk-button-default map-button" id="residence-inn-map-button">Map</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    <div class="uk-card uk-card-body uk-card-secondary">
                        <div uk-grid>
                            <div class="uk-width-2-3">
                                <p class="hotel-title"><span>Holiday Inn</span> Lincoln Southwest</p>
                                <p>Standard rooms with an indoor pool</p>
                                <p class="drive-time"><span>11 min.</span> from Roca Ridge</p>
                            </div>
                            <div class="uk-width-1-3">
                                <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/lincoln/lnkne/hoteldetail" target="_blank"><button class="uk-button uk-button-default" id="holiday-inn-site-button">Site</button></a>
                                <button class="uk-button uk-button-default map-button" id="holiday-inn-map-button">Map</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="uk-grid-small">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">The Mill</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                        <div class="uk-width-5-6">
                            <p>If you're in it for the caffeine.</p>
                        </div>
                        <div class="uk-width-1-6">
                            <button class="uk-button uk-button-default recommendation-map-button" id="mill-map-button">Map</button>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">The Railyard</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                        <div class="uk-width-5-6">
                            <p class="uk-width-5-6">The Railyard is a newly-developed district in downtown Lincoln featuring shops, restaurants, and entertainment. 
                                Check out the big screen, go ice skating, or grab a burger and a beer.</p>
                        </div>
                        <div class="uk-width-1-6">
                            <button class="uk-button uk-button-default recommendation-map-button" id="mill-map-button">Map</button>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">Lincoln Children's Zoo</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                            <div class="uk-width-5-6">
                                <p>You don't need to be a child to enjoy this zoo. Despite its thorough Larry the Cable Guy endorsements, there are lots of great treasures here, 
                                    from their headliner Amur leopard to a tribe of lemurs to giant tortoises. It is set amidst a very relaxing neighborhood in Lincoln and is next to 
                                    Sunken Gardens.
                                </p>
                            </div>
                            <div class="uk-width-1-6">
                                <button class="uk-button uk-button-default recommendation-map-button" id="mill-map-button">Map</button>
                            </div>
                        </div>
                </div>
            </div>

        </li>
</ul>

</div>
<hr class="uk-divider-icon" />