<div class="site-section" id="schedule-section">
    <ul uk-accordion>
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">Schedule</a>
            <div class="uk-accordion-content">
            <p class="uk-text-center">Schedule tentative until closer to the wedding</p>
            <br />
                <div uk-grid class="uk-grid-divider">
                    <div class="uk-width-1-2 uk-text-right time-column">
                        <div class="time">4:00pm</div>
                        <div class="time-icon"><img src="assets/img/wedding.png"/></div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="schedule-item">
                            <p class="title uk-text-lead">Ceremony</p>
                            <p class="location">Main Barn</p>
                        </div>
                    </div>

                    <div class="uk-width-1-2 uk-text-right time-column">
                        <div class="time">5:00pm</div>
                        <div class="time-icon"><img src="assets/img/glasses.png"/></div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="schedule-item">
                            <p class="title uk-text-lead">Cocktail Hour</p>
                            <p class="location">Log Cabin</p>  
                        </div>
                    </div>

                    <div class="uk-width-1-2 uk-text-right time-column">
                        <div class="time">6:00pm</div>
                        <div class="time-icon"><img src="assets/img/table.png"/></div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="schedule-item">
                            <p class="title uk-text-lead">Dinner</p>
                            <p class="location">Main Barn</p>
                        </div>
                    </div>

                    <div class="uk-width-1-2 uk-text-right time-column">
                        <div class="time">7:30pm</div>
                        <div class="time-icon"><img src="assets/img/desserts.png"/></div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="schedule-item">
                            <p class="title uk-text-lead">Dessert &amp; Dancing</p>
                            <p class="location">Main Barn</p>
                        </div>
                    </div>
                </div>
            </div>
            </li>

        <li>
            <a class="uk-accordion-title" href="#">Hotel Block</a>
            <div class="uk-accordion-content">
            <div uk-grid class="uk-grid-match">
                <div class="uk-width-1-2@m">
                    <div class="uk-card uk-card-body uk-card-secondary">
                        <div uk-grid class="card-div">
                            <div class="uk-width-2-3">
                                <p class="hotel-title"><span>Residence Inn</span> Lincoln South</p>
                                <p>Hotel block: <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1561581786734&key=GRP&app=resvlink" target="_blank">$135/night</a></p>
                                <p>Suite-style rooms with complimentary breakfast</p>
                            </div>
                            <div class="uk-width-1-3">
                                <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1561581786734&key=GRP&app=resvlink" target="_blank"><button class="uk-button uk-button-default" id="residence-inn-site-button">Site</button></a>
                                <button class="uk-button uk-button-default map-button" id="residence-inn-map-button">Map</button>
                            </div>
                            <iframe class="hotel-map" id="residence-inn-map" width="500" height="450" frameborder="0" style="border:0; margin-top:20px;" src="https://www.google.com/maps/embed/v1/place?q=Residence%20Inn%20Lincoln%20South&key=AIzaSyDzDdM6BiMm5B5i1jZ3mGx92yDCbzo8wXQ&zoom=10" allowfullscreen></iframe>
                        </div>
                        <p class="drive-time"><span>9 min.</span> from Roca Ridge</p>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-card uk-card-body uk-card-secondary">
                        <div uk-grid class="card-div">
                            <div class="uk-width-2-3">
                                <p class="hotel-title"><span>Holiday Inn</span> Lincoln Southwest</p>
                                <p>Hotel block: <a href="https://www.ihg.com/holidayinn/hotels/us/en/lincoln/lnkpz/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99801505&icdv=99801505&qSlH=LNKPZ&qGrpCd=BRW&setPMCookies=true&qDest=2500%20Tamarin%20Ridge%20Road,%20Lincoln,%20NE,%20US&srb_u=1" target="_blank">$94/night</a></p>
                                <p>Standard rooms with an indoor pool</p>
                            </div>
                            <div class="uk-width-1-3">
                                <a href="https://www.ihg.com/holidayinn/hotels/us/en/lincoln/lnkpz/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99801505&icdv=99801505&qSlH=LNKPZ&qGrpCd=BRW&setPMCookies=true&qDest=2500%20Tamarin%20Ridge%20Road,%20Lincoln,%20NE,%20US&srb_u=1" target="_blank"><button class="uk-button uk-button-default" id="holiday-inn-site-button">Site</button></a>
                                <button class="uk-button uk-button-default map-button" id="holiday-inn-map-button">Map</button>
                            </div>
                            <iframe class="hotel-map" id="holiday-inn-map" width="500" height="450" frameborder="0" style="border:0; margin-top:20px;" src="https://www.google.com/maps/embed/v1/place?q=Holiday%20Inn%20Lincoln%20Southwest&key=AIzaSyDzDdM6BiMm5B5i1jZ3mGx92yDCbzo8wXQ&zoom=10" allowfullscreen></iframe>
                            
                        </div>
                        <p class="drive-time"><span>11 min.</span> from Roca Ridge</p>
                    </div>
                </div>
            </div>
        </div>
        </li>

        <li>
                <a class="uk-accordion-title" href="#">Things to Do</a>
                <div class="uk-accordion-content">
            <div class="uk-grid-small">
                <p>If you haven't been to Lincoln before, then welcome! These were some of our favorite places to eat, drink, and hang out in the city where we first met.</p>

                <div class="uk-grid">
                    <div class="uk-width-1-2@m">
                        <h2>Eat</h2>
                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Ivanna Cone</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>They have lines out the door for a reason! Lots of great seasonal flavors.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="http://www.ivannacone.com/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Bison Witches</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Great lunch spot with... you guessed it... sandwiches! Also very addicting salsa con queso.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://www.facebook.com/BisonWitchesLincoln/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Hub Cafe</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Fantastic place for brunch! They serve farm-to-table style meals in a casual setting and are located right on the Antelope Valley Trail.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://www.hubcafelincoln.com/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Honest Abe's Burgers &amp; Freedom</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Lots of wild and crazy burger choices, plus boozy (and virgin) milkshakes.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="http://grounduprestaurants.com/honest-abes-downtown/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Grateful Bread</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>These folks make insane mac and cheese! The flavors rotate, but you can find their flavor of the day on their <a href="https://www.facebook.com/Grateful-BreadFreakbeat-Vegetarian-312793177888/">Facebook 
                                            page</a>. They also have soup, sandwiches, and baked goods. But we were too busy eating the mac and cheese.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://www.facebook.com/Grateful-BreadFreakbeat-Vegetarian-312793177888/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">The Oven</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Delicious Indian food, both downtown and in southeast Lincoln in an upscale setting. The downtown location also has a downstairs wine cellar.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://theoven-lincoln.com/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Runza</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>If you haven't had a Runza yet, now's your chance! Enjoy the Nebraska classic at any of Lincoln's 14 convenient locations.</p>
                                    <p>And yes, there's even <a href="https://www.reddit.com/r/unza" target="_blank">a subreddit </a> dedicated to them.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://www.runza.com/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Misty's</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Misty's is a classic steakhouse in Downtown, Havelock, and Williamsburg. They have a wide variety of dishes and make fantastic burgers. They 
                                        also brew their own beer out of their downtown location.
                                    </p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://www.mistyslincoln.com/Home" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-width-1-2@m">
                        <h2>Drink</h2>
                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">The Mill</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Fantastic coffeehouse in downtown and College View.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="http://millcoffee.com/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Starlite Lounge</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Retro cocktail lounge with <em>very</em> strong martinis and free apps on Friday afternoons.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://www.buzzardbillys.com/lincoln/the-starlite-lounge/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Barrymore's</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Classy bar at the back of a theater, famous for its Moscow Mules.</p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="http://rococotheatre.com/barrymores/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-secondary">
                            <h3 class="uk-card-title">Zipline Beer Hall</h3>
                            <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                                <div class="uk-width-5-6">
                                    <p>Our favorite Lincoln brewery opened a brand-new beer hall and it's right by the wedding venue! This location offers a more relaxed environment 
                                        to enjoy their many handcrafted brews including several limited-edition and seasonal taps.
                                    </p>
                                </div>
                                <div class="uk-width-1-6">
                                    <a href="https://ziplinebrewing.com/locations/beer-hall/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Do</h2>
                
                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">First Friday Art Walk</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                        <div class="uk-width-5-6">
                            <p>The first Friday of every month (that's November 1st!), businesses and galleries in downtown Lincoln open their doors between 5 and 10pm 
                                with art displays, hands-on activities, food & drinks, and more. November's activities should be posted to their site by late October.
                            </p>
                        </div>
                        <div class="uk-width-1-6">
                            <a href="https://downtownlincoln.org/explore/first-friday" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">Haymarket/The Railyard</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                        <div class="uk-width-5-6">
                            <p>The historic Haymarket district houses many iconic Lincoln businesses and is a great area to walk through, whether you are looking to 
                                grab a quick snack, browse the book store, or read up on a bit of history. It has been extended to include the Railyard, a newly-developed district featuring shops,
                                 restaurants, and entertainment. Check out the football score on the giant screen, go ice skating, or grab a burger and a beer.</p>
                        </div>
                        <div class="uk-width-1-6">
                            <a href="https://lincolnhaymarket.org/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">Lincoln Children's Zoo</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                        <div class="uk-width-5-6">
                            <p>Despite its name, this zoo is enjoyable for all ages.There are lots of great treasures here, from their headliner Amur leopard to a 
                                tribe of lemurs to giant tortoises. It is set amidst a very relaxing neighborhood in Lincoln and is next to Sunken Gardens.
                            </p>
                        </div>
                        <div class="uk-width-1-6">
                            <a href="https://www.lincolnzoo.org/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">International Quilt Museum</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                        <div class="uk-width-5-6">
                            <p>This museum, part of the University of Nebraska, has an extensive collection of over 5,000 quilts in a beautiful building near East Campus. They 
                                have several rotating exhibits of historical and modern quilts as well as a viewing room of their conservation efforts.
                            </p>
                        </div>
                        <div class="uk-width-1-6">
                            <a href="https://www.quiltstudy.org/" target="_blank"><button class="uk-button uk-button-default link-button">Site</button></a>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-body uk-card-secondary">
                    <h3 class="uk-card-title">Trails</h3>
                    <div class="uk-grid-small uk-child-width-1-6@m" uk-grid>
                        <div class="uk-width-5-6">
                            <p>Whether you are looking to stroll with your toddler, take a walk through nature, or get a few laps in, there are many lovely
                                multi-recreational trails in the city:</p>
                            <ul>
                                <li><a href="http://lincoln.ne.gov/city/pworks/projects/antelope/const/unionplz/" target="_blank">Antelope Valley Trail</a>: new trail running alongside a creek with lots of art installations and play equipment near downtown</li>
                                <li><a href="https://www.recreation.gov/camping/gateways/303" target="_blank">Holmes Lake</a>: large park with 2.5 mile loop around the lake, dog park, and playground</li>
                                <li><a href="http://lincoln.ne.gov/maps/parks/pioneers.htm" target="_blank">Pioneers Park</a>: expansive park with 8 miles of trails, varying habitats, and art installations</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </li>
</ul>

</div>
<hr class="uk-divider-icon" />