<div id="details-section">
    <h1>Schedule</h1>
    <div uk-grid class="uk-grid-divider">
        <div class="uk-width-1-2 uk-text-right">
            <div class="time">5:00pm</div>
        </div>
        <div class="uk-width-1-2">
            <div class="schedule-item">
                <p class="title uk-text-lead">Ceremony</p>
                <p class="location">Buffalo Wild Wings</p>
                <p class="address">1320 P. St.</p>
                <button class="uk-button uk-button-default">Map</button>
            </div>
        </div>

        <div class="uk-width-1-2 uk-text-right">
                <div class="time">6:00pm</div>
            </div>
            <div class="uk-width-1-2">
                <div class="schedule-item">
                    <p class="title uk-text-lead">Reception</p>
                    <p class="location">Chez Hay</p>
                    <p class="address">440 S 11th St.</p>
                    <button class="uk-button uk-button-default" id="reception-map-button">Map</button>

                    <iframe id="reception-map" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Chez%20Hay&key=AIzaSyDzDdM6BiMm5B5i1jZ3mGx92yDCbzo8wXQ" allowfullscreen></iframe>
                </div>
            </div>
    </div>
</div>
<hr class="uk-divider-icon" />