#details-section {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-section {
    margin-top: 50px !important;
    margin-bottom: 100px !important;
}


#reception-map {
    display:none;
    padding-top: 4px;
}

.schedule-item p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.schedule-item .title {
    margin-top: -5px;
}
.schedule-item button {
    margin-top : 10px;
}
.uk-subnav {
    background-color: rgb(53, 53, 53);
    padding: 10px;
}

.uk-card-secondary {
    background-color: rgb(61,61,61);
    margin-bottom: 30px;
}

.hotel-title {
    font-size: 1.4rem;
}
.hotel-title span{
    color: #eee;
}
.drive-time {
    position: absolute;
    bottom: 30px;
}
.drive-time span{
    font-size: 1.2rem;
    color: #eee;
}
.map-button {
    margin-top: 20px;
}
.hotel-map {
    display: none;
}
.card-div {
    margin-bottom: 40px;
}