<!-- Navigation -->
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container" id="nav" uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#details-section">Details</a></li>
                        <li><a id="rsvp-link" href="#rsvp-section">RSVP</a></li>
                        <li><a href="#registry-section">Registry</a></li>
                        <li><a href="#faq-section">FAQ</a></li>
                        <li><a href="#story-section">Our Story</a></li>
                        <li><a href="#photos-section">Photos</a></li>
                    </ul>
                </div>
            </nav>
        </div>