<div class="site-section" id="details-section">
  <img src='../../assets/img/roca-drawing.jpg' alt="Roca Ridge" />
  <div class="uk-text-center">
      
    <div id="celebrate"><p>Come celebrate with us at</p></div>
    <div class="uk-margin"><h2 id="roca">Roca Ridge</h2></div>
      <div id="detail-date"><p>on November 2<sup>nd</sup>, 2019</p></div>
  </div>

  <div class="uk-text-center" id="detailed-details">
    <h2>Address</h2>
    <div><p>Roca Ridge Events</p></div>
    <div><p>5265 Prairie Sage Drive</p></div>
    <div><p>Roca, NE</p></div>
    <div><button class="uk-button uk-button-default" id="reception-map-button">Map</button></div>

    <div>
        <iframe id="reception-map" width="900" height="450" frameborder="0" style="border:0; margin-top:20px;" src="https://www.google.com/maps/embed/v1/place?q=Roca%20Ridge&key=AIzaSyDzDdM6BiMm5B5i1jZ3mGx92yDCbzo8wXQ&zoom=10" allowfullscreen></iframe>
      </div>
    </div>
</div>